<?php
return [
    'backend' => [
        'frontName' => 'odbmadmin'
    ],
    'crypt' => [
        'key' => '782d87cee4ed0cec98ebb2ffaeee75c1'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => 'odb_db_host',
                'dbname' => 'magento',
                'username' => 'odb_db_user',
                'password' => 'odb_db_password',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1'
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'developer',
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'full_page' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'translate' => 1,
        'config_webservice' => 1
    ],
    'install' => [
        'date' => 'Tue, 08 Aug 2017 16:23:37 +0000'
    ],
        'downloadable_domains' => [
            'cdn.dhp.org',
            's3.amazonaws.com',
            'dpz73qkr83w0p.cloudfront.net'
        ]
];