<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="cryozonic_stripe_data_assign" instance="Cryozonic\StripePayments\Observer\DataAssignObserver" />
    </event>
    <event name="sales_order_place_before">
        <observer name="cryozonic_stripe_place_order_before" instance="Cryozonic\StripePayments\Observer\OrderObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="cryozonic_stripe_place_order_after" instance="Cryozonic\StripePayments\Observer\OrderObserver" />
    </event>

    <!-- Webhooks -->
    <event name="cryozonic_stripe_webhook_charge_refunded_card">
        <observer name="cryozonic_stripe_webhook_charge_refunded_card_observer"
            instance="Cryozonic\StripePayments\Observer\WebhooksObserver" />
    </event>
    <event name="cryozonic_stripe_webhook_payment_intent_succeeded">
        <observer name="cryozonic_stripe_webhook_payment_intent_succeeded_observer"
            instance="Cryozonic\StripePayments\Observer\WebhooksObserver" />
    </event>
</config>
