<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_email" translate="label" type="text" sortOrder="301" showInDefault="1" showInWebsite="1" showInStore="1">
             <group id="order" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <field id="recurring_template" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Recurring Donation Confirmation Template</label>
                        <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    </field>
             </group>
        </section>
    </system>
</config>