<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<psuedo_mpxdownload><!-- anything goes here -->
			<runtime><!-- anything goes here -->
				<trustedips>12.51.91.4,12.51.91.5,70.39.176.28,67.59.39.1*,108.171.131.1*,10.183.251.2,172.17.0.1</trustedips>
				<timezone>06:00:00</timezone><!-- as offset -->
				<motivation_code>
					<!-- example 
					<dhponline.ca>INTDHP</dhponline.ca> 
					-->
					<magento.beta.rbc.org>INT</magento.beta.rbc.org>
				</motivation_code>
				<company>
					<!-- example:
					<dhponline.ca>DHPC</dhponline.ca>
					-->
					<magento.beta.rbc.org>RBCU</magento.beta.rbc.org>
				</company>
				<jobtype>
					<!-- example: 
					<dhponline.ca>DhpStore</dhponline.ca>
					-->
					<magento.beta.rbc.org>ODBDonations</magento.beta.rbc.org>
				</jobtype>
				<store_id>
					<!-- example>
					<dhponline.ca>2</dhponline.ca>
					-->
					<magento.beta.rbc.org>1</magento.beta.rbc.org>
				</store_id>
				<domain>
					<dhpstore>
						<!-- example: 
						<dhpc>dhponline.ca</dhpc>
						-->
						<dhpt>magento.beta.rbc.org</dhpt>
					</dhpstore>
					<odbdonations>
						<rbcu>magento.beta.rbc.org</rbcu>
					</odbdonations>
					<!-- example:  
					<ccstore>
						<dhpu>cugn.org</dhpu>
					</ccstore>
					-->
				</domain>
				<beta> <!-- like domain, but specifically for beta sites with domain/store mismatches-->
					<dhpstore>
						<dhpt>magento.beta.rbc.org</dhpt>
					</dhpstore>
					<odbdonations>
						<rbcu>magento.beta.rbc.org</rbcu>
					</odbdonations>
				</beta>
			</runtime>
		</psuedo_mpxdownload>
	</default>
</config>