<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <psuedo_mpxdownload><!-- anything goes here -->
            <runtime><!-- anything goes here -->
                <trustedips>12.51.91.4,12.51.91.5,70.39.176.28,67.59.39.1*,108.171.131.1*,10.183.251.2,172.17.0.*
                </trustedips>
                <timezone>08:05:00</timezone><!-- as offset -->
                <motivation_code>
                    <!-- example
                    <dhponline.ca>INTDHP</dhponline.ca>
                    This sets the default motivation code for stores running per domain.
                    -->
                    <donations.ourdailybread.org>INTM</donations.ourdailybread.org>
                    <store_1>INT</store_1>
                    <ourdailybreadpublishing.org>INTDHP</ourdailybreadpublishing.org>
                    <dhespanol.org>INTSPN</dhespanol.org>
                    <store.ourdailybread.org>INTODB</store.ourdailybread.org>
                    <!-- <beta.dhp.org>INTDHP</beta.dhp.org> -->
                    <moto.ourdailybreadpublishing.org>MOTOSTORE</moto.ourdailybreadpublishing.org>

                    <!--  START: add beta sites -->
                    <beta.donations.ourdailybread.org>INTM</beta.donations.ourdailybread.org>
                    <beta.discoveryhousepublishers.org>INTDHP</beta.discoveryhousepublishers.org>
                    <beta.ourdailybreadpublishing.org>INTDHP</beta.ourdailybreadpublishing.org>
                    <beta.dhespanol.org>INTSPN</beta.dhespanol.org>
                    <beta.store.ourdailybread.org>INTODB</beta.store.ourdailybread.org>
                    <beta.moto.ourdailybreadpublishing.org>MOTOSTORE</beta.moto.ourdailybreadpublishing.org>
                    <!-- END: add beta sites -->

                    <!-- START: add UAT sites -->
                    <uat.ourdailybreadpublishing.org>INTDHP</uat.ourdailybreadpublishing.org>
                    <uat.moto.ourdailybreadpublishing.org>MOTOSTORE</uat.moto.ourdailybreadpublishing.org>
                    <uat.dhespanol.org>INTSPN</uat.dhespanol.org>
                    <uat.donations.ourdailybread.org>INTM</uat.donations.ourdailybread.org>
                    <uat.store.ourdailybread.org>INTODB</uat.store.ourdailybread.org>
                    <!-- END: add UAT sites -->


                   <!--add dev sites for MPX source control -->
                    <dev.mage2.org>INTDEV</dev.mage2.org>
                    <dev.demostore.ourdailybread.org>INTODB</dev.demostore.ourdailybread.org>
                    <dev.dhespanol.org>INTDEV</dev.dhespanol.org>
                    <dev.ourdailybreadpublishing.org>INTDEV</dev.ourdailybreadpublishing.org>
                    <dev.store.christianuniversity.org>INTDEV</dev.store.christianuniversity.org>
                    <dev.store.ourdailybread.org>INTDEV</dev.store.ourdailybread.org>
                    <dev.donations.ourdailybread.org>INTM</dev.donations.ourdailybread.org>
                    <dev.moto.ourdailybreadpublishing.org>MOTOSTORE</dev.moto.ourdailybreadpublishing.org>
                </motivation_code>
                <company>
                    <!-- example:
                    <dhponline.ca>DHPC</dhponline.ca>
                    This configures the company name sent to payment processors (paypal, stripe) for MPX to sort out on download (dhpu or rbcu)
                    -->

                    <donations.ourdailybread.org>RBCU</donations.ourdailybread.org>
                    <ourdailybreadpublishing.org>DHPU</ourdailybreadpublishing.org>
                    <dhespanol.org>DHPU</dhespanol.org>
                    <store.ourdailybread.org>RBCU</store.ourdailybread.org>

                    <moto.ourdailybreadpublishing.org>DHPU</moto.ourdailybreadpublishing.org>

                    <!--Add beta sites: -->
                    <beta.donations.ourdailybread.org>RBCU</beta.donations.ourdailybread.org>
                    <beta.ourdailybreadpublishing.org>DHPU</beta.ourdailybreadpublishing.org>
                    <beta.dhespanol.org>DHPU</beta.dhespanol.org>
                    <beta.moto.ourdailybreadpublishing.org>DHPU</beta.moto.ourdailybreadpublishing.org>
                    <beta.discoveryhousepublishers.org>DHPU</beta.discoveryhousepublishers.org>
                    <beta.store.ourdailybread.org>RBCU</beta.store.ourdailybread.org>

                    <!-- END: ODBP Migration Transfer-->

                    <!-- START: add UAT sites -->
                    <uat.ourdailybreadpublishing.org>DHPU</uat.ourdailybreadpublishing.org>
                    <uat.moto.ourdailybreadpublishing.org>DHPU</uat.moto.ourdailybreadpublishing.org>
                    <uat.dhespanol.org>DHPU</uat.dhespanol.org>
                    <uat.donations.ourdailybread.org>RBCU</uat.donations.ourdailybread.org>
                    <uat.store.ourdailybread.org>RBCU</uat.store.ourdailybread.org>
                    <!-- END: add UAT sites -->

                    <!--add dev sites for MPX source control -->
                    <dev.mage2.org>RBCU</dev.mage2.org>
                    <dev.demostore.ourdailybread.org>RBCU</dev.demostore.ourdailybread.org>
                    <dev.dhespanol.org>DHPU</dev.dhespanol.org>
                    <dev.ourdailybreadpublishing.org>RBCU</dev.ourdailybreadpublishing.org>
                    <dev.store.ourdailybread.org>RBCU</dev.store.ourdailybread.org>
                    <dev.donations.ourdailybread.org>RBCU</dev.donations.ourdailybread.org>
                    <dev.moto.ourdailybreadpublishing.org>DHPU</dev.moto.ourdailybreadpublishing.org>
                </company>
                <jobtype>
                    <!-- example:
                    <dhponline.ca>DhpStore</dhponline.ca>
                    This sets the jobtype transmitted to payment processors (stripe/paypal) that MPX uses to sort out when downloading from CCtrans (donations, dhpstore, etc)
                    This must be set per domain
                    -->
                    <donations.ourdailybread.org>ODBDonations</donations.ourdailybread.org>
                    <store_1>ODBDonations</store_1>
                    <ourdailybreadpublishing.org>DhpStore</ourdailybreadpublishing.org>
                    <dhespanol.org>SpnStore</dhespanol.org>
                    <store.ourdailybread.org>ODBStore</store.ourdailybread.org>
                    <moto.ourdailybreadpublishing.org>MotoStore</moto.ourdailybreadpublishing.org>

                    <!--Add beta sites: -->
                    <beta.donations.ourdailybread.org>ODBDonations</beta.donations.ourdailybread.org>
                    <beta.discoveryhousepublishers.org>DhpStore</beta.discoveryhousepublishers.org>
                    <beta.ourdailybreadpublishing.org>DhpStore</beta.ourdailybreadpublishing.org>
                    <beta.store.ourdailybread.org>ODBStore</beta.store.ourdailybread.org>
                    <beta.dhespanol.org>SpnStore</beta.dhespanol.org>
                    <beta.moto.ourdailybreadpublishing.org>MotoStore</beta.moto.ourdailybreadpublishing.org>
                    <!-- END: ODBP Migration Transfer-->

                    <!-- START: add UAT sites -->
                    <uat.ourdailybreadpublishing.org>DhpStore</uat.ourdailybreadpublishing.org>
                    <uat.moto.ourdailybreadpublishing.org>MotoStore</uat.moto.ourdailybreadpublishing.org>
                    <uat.dhespanol.org>SpnStore</uat.dhespanol.org>
                    <uat.donations.ourdailybread.org>ODBDonations</uat.donations.ourdailybread.org>
                    <uat.store.ourdailybread.org>ODBStore</uat.store.ourdailybread.org>
                    <!-- END: add UAT sites -->

                    <!--add dev sites for MPX source control -->
                    <dev.demostore.ourdailybread.org>PilotStore</dev.demostore.ourdailybread.org>
                    <dev.mage2.org>DevStore</dev.mage2.org>
                    <dev.dhespanol.org>SpnStore</dev.dhespanol.org>
                    <dev.ourdailybreadpublishing.org>DhpStore</dev.ourdailybreadpublishing.org>
                    <dev.store.ourdailybread.org>ODBStore</dev.store.ourdailybread.org>
                    <dev.donations.ourdailybread.org>ODBDonations</dev.donations.ourdailybread.org>
                    <dev.moto.ourdailybreadpublishing.org>MotoStore</dev.moto.ourdailybreadpublishing.org>
                </jobtype>
                <store_id>
                    <!-- example>
                    <dhponline.ca>2</dhponline.ca>
                    The grid to match each domain to a store ID when pulling from a single domain api (discoveryhousepublishers.org pulls odbp, odbm, odbcu, odbpes, etc)
                    Every store id, must be referenced by at least 1 domain, and dev, beta, production for each domain
                    -->

                    <donations.ourdailybread.org>13</donations.ourdailybread.org>
                    <ourdailybreadpublishing.org>4</ourdailybreadpublishing.org>
                    <dhespanol.org>9</dhespanol.org>
                    <store.ourdailybread.org>8</store.ourdailybread.org>
                    <moto.ourdailybreadpublishing.org>14</moto.ourdailybreadpublishing.org>


                    <!--Add beta sites: -->
                    <beta.donations.ourdailybread.org>13</beta.donations.ourdailybread.org>
                    <beta.ourdailybreadpublishing.org>4</beta.ourdailybreadpublishing.org>
                    <beta.discoveryhousepublishers.org>1</beta.discoveryhousepublishers.org>
                    <beta.dhespanol.org>9</beta.dhespanol.org>
                    <beta.store.ourdailybread.org>8</beta.store.ourdailybread.org>
                    <beta.moto.ourdailybreadpublishing.org>14</beta.moto.ourdailybreadpublishing.org>


                    <!-- START: add UAT sites -->
                    <uat.ourdailybreadpublishing.org>4</uat.ourdailybreadpublishing.org>
                    <uat.moto.ourdailybreadpublishing.org>14</uat.moto.ourdailybreadpublishing.org>
                    <uat.dhespanol.org>9</uat.dhespanol.org>
                    <uat.donations.ourdailybread.org>13</uat.donations.ourdailybread.org>
                    <uat.store.ourdailybread.org>8</uat.store.ourdailybread.org>
                    <!-- END: add UAT sites -->

                    <!--add dev sites for MPX source control -->
                    <dev.demostore.ourdailybread.org>8</dev.demostore.ourdailybread.org>
                    <dev.mage2.org>13</dev.mage2.org>
                    <dev.dhespanol.org>9</dev.dhespanol.org>
                    <dev.ourdailybreadpublishing.org>4</dev.ourdailybreadpublishing.org>
                    <!-- <dev.dhp.org>4</dev.dhp.org> -->
                    <dev.store.ourdailybread.org>8</dev.store.ourdailybread.org>
                    <dev.donations.ourdailybread.org>13</dev.donations.ourdailybread.org>
                    <dev.moto.ourdailybreadpublishing.org>14</dev.moto.ourdailybreadpublishing.org>
                </store_id>
                <!-- Use order_type to identify if a store accepts donations or not -->
                <!-- Examples: gift, order, both -->
                <order_type>
                    <!-- prod sites -->
                    <ourdailybreadpublishing.org>order</ourdailybreadpublishing.org>
                    <dhespanol.org>order</dhespanol.org>
                    <store.ourdailybread.org>gift</store.ourdailybread.org>
                    <donations.ourdailybread.org>gift</donations.ourdailybread.org>
                    <moto.ourdailybreadpublishing.org>order</moto.ourdailybreadpublishing.org>

                    <!-- beta sites -->
                    <beta.ourdailybreadpublishing.org>order</beta.ourdailybreadpublishing.org>
                    <beta.dhespanol.org>order</beta.dhespanol.org>
                    <beta.store.ourdailybread.org>gift</beta.store.ourdailybread.org>
                    <beta.donations.ourdailybread.org>gift</beta.donations.ourdailybread.org>
                    <beta.moto.ourdailybreadpublishing.org>order</beta.moto.ourdailybreadpublishing.org>

                    <!-- START: add UAT sites -->
                    <uat.ourdailybreadpublishing.org>order</uat.ourdailybreadpublishing.org>
                    <uat.moto.ourdailybreadpublishing.org>order</uat.moto.ourdailybreadpublishing.org>
                    <uat.dhespanol.org>order</uat.dhespanol.org>
                    <uat.donations.ourdailybread.org>gift</uat.donations.ourdailybread.org>
                    <uat.store.ourdailybread.org>gift</uat.store.ourdailybread.org>
                    <!-- END: add UAT sites -->

                    <!-- dev sites -->
                    <dev.ourdailybreadpublishing.org>order</dev.ourdailybreadpublishing.org>
                    <dev.dhespanol.org>order</dev.dhespanol.org>
                    <dev.store.ourdailybread.org>gift</dev.store.ourdailybread.org>
                    <dev.donations.ourdailybread.org>gift</dev.donations.ourdailybread.org>
                    <dev.moto.ourdailybreadpublishing.org>order</dev.moto.ourdailybreadpublishing.org>
                </order_type>
                <domain>
                    <dev>
                        <dhpstore>
                            <!-- example:
							<dhpc>dhponline.ca</dhpc>
							converts a store/company to the required domain, so when MPX requests data with jobtype/company, the correct domain and therefore store ID is pulled and used to reference .
							-->
                            <dhpt>dev.mage2.org</dhpt>
                            <dhpu>dev.donations.ourdailybread.org</dhpu>
                        </dhpstore>
                        <odbdonations>
                            <rbcu>dev.donations.ourdailybread.org</rbcu>
                        </odbdonations>
                        <spnstore>
                            <dhpu>dev.dhespanol.org</dhpu>
                        </spnstore>
                        <pilotstore>
                            <rbcu>dev.store.ourdailybread.org</rbcu>
                        </pilotstore>
                        <odbstore>
                            <rbcu>dev.store.ourdailybread.org</rbcu>
                        </odbstore>
                        <odbpstore>
                            <dhpu>dev.ourdailybreadpublishing.org</dhpu>
                            <rbcu>dev.ourdailybreadpublishing.org</rbcu>
                            <odbp>dev.ourdailybreadpublishing.org</odbp>
                        </odbpstore>
                        <motostore>
                            <dhpu>dev.moto.ourdailybreadpublishing.org</dhpu>
                        </motostore>
                    </dev>
                    <beta>
                        <dhpstore>
                            <dhpu>beta.donations.ourdailybread.org</dhpu>
                        </dhpstore>
                        <odbdonations>
                            <rbcu>beta.donations.ourdailybread.org</rbcu>
                        </odbdonations>
                        <spnstore>
                            <dhpu>beta.dhespanol.org</dhpu>
                        </spnstore>
                        <pilotstore>
                            <rbcu>beta.store.ourdailybread.org</rbcu>
                        </pilotstore>
                        <odbstore>
                            <rbcu>beta.store.ourdailybread.org</rbcu>
                        </odbstore>
                        <odbpstore>
                            <dhpu>beta.ourdailybreadpublishing.org</dhpu>
                            <rbcu>beta.ourdailybreadpublishing.org</rbcu>
                            <odbp>beta.ourdailybreadpublishing.org</odbp>
                        </odbpstore>
                        <motostore>
                            <dhpu>beta.moto.ourdailybreadpublishing.org</dhpu>
                        </motostore>
                    </beta>
                    <uat>
                        <dhpstore>
                            <dhpu>uat.donations.ourdailybread.org</dhpu>
                        </dhpstore>
                        <odbdonations>
                            <rbcu>uat.donations.ourdailybread.org</rbcu>
                        </odbdonations>
                        <spnstore>
                            <dhpu>uat.dhespanol.org</dhpu>
                        </spnstore>
                        <pilotstore>
                            <rbcu>uat.store.ourdailybread.org</rbcu>
                        </pilotstore>
                        <odbstore>
                            <rbcu>uat.store.ourdailybread.org</rbcu>
                        </odbstore>
                        <odbpstore>
                            <dhpu>uat.ourdailybreadpublishing.org</dhpu>
                            <rbcu>uat.ourdailybreadpublishing.org</rbcu>
                            <odbp>uat.ourdailybreadpublishing.org</odbp>
                        </odbpstore>
                        <motostore>
                            <dhpu>uat.moto.ourdailybreadpublishing.org</dhpu>
                        </motostore>
                    </uat>
                    <dhpstore>
                        <dhpt>dev.mage2.org</dhpt>
                        <dhpu>ourdailybreadpublishing.org</dhpu>
                    </dhpstore>
                    <odbdonations>
                        <rbcu>donations.ourdailybread.org</rbcu>
                    </odbdonations>
                    <spnstore>
                        <dhpu>dhespanol.org</dhpu>
                    </spnstore>
                    <pilotstore>
                        <rbcu>store.ourdailybread.org</rbcu>
                    </pilotstore>
                    <odbstore>
                        <rbcu>store.ourdailybread.org</rbcu>
                    </odbstore>
                    <odbpstore>
                        <dhpu>ourdailybreadpublishing.org</dhpu>
                        <rbcu>ourdailybreadpublishing.org</rbcu>
                        <odbp>ourdailybreadpublishing.org</odbp>
                    </odbpstore>
                    <motostore>
                        <dhpu>moto.ourdailybreadpublishing.org</dhpu>
                    </motostore>
                </domain>
            </runtime>
        </psuedo_mpxdownload>
    </default>
</config>
