<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Psuedo\Mpxdownload\Api\MpxDownloadManagementInterface" type="Psuedo\Mpxdownload\Model\MpxDownloadManagement"/>
	<preference for="StripeIntegration\Payments\Model\PaymentIntent" type="Psuedo\Mpxdownload\Model\Stripe\PaymentIntentData" />
	<type name="Psuedo\Mpxdownload\Model\MpxDownloadManagement">
		<arguments>
			<argument name="mpxdata" xsi:type="object">Psuedo\Mpxdownload\Helper\Data</argument>
			<argument name="productModel" xsi:type="object">Magento\Catalog\Model\Product</argument>
		</arguments>
	</type>

	<type name="StripeIntegration\Payments\Model\Config">
		<plugin name="stripeordertag" type="Psuedo\Mpxdownload\Plugin\StripeTagging" sortOrder="1" />
	</type>
</config>