@charset "UTF-8";
/* CSS Document */
#maincontent.page-main {background-color: #555555;}
.thankyoupage {background-color: #ffffff; padding: 0px; max-width: 640px; margin-left: auto; margin-right: auto; width: 100%; box-sizing: border-box; margin-top: 40px;}
.thankyoupage p, .thankyoupage .giftdetails {color: #808080; font-size: 1.4em;}
.thankyoupage .giftdetailslabel {color: #333333; font-size: 1.4em; text-align: center; margin: 30px 20px;}
.thankyoupage h1.ty {background-color: #60b3e5; text-align: center; font-size: 24px; color: #ffffff; padding: 25px 10px;}
.thankyoupage .highlight {color: #60b3e4; font-weight: bold;}
