/**
 *
 * Magento 1 Migration(ODBCU)
 *
 */
.product-view .product-addto-links .tocompare {
    display: none !important;
}

/* Place order button had a large padding */
.checkout-payment-method .payment-method-content .fieldset > .field {
    margin: 0 !important;
}

/* set image width in mini-cart to auto to avoid stretching image */
.minicart-items img.product-image-photo[style] {
    width: auto !important;
}

/* give padding between items in minicart */
.minicart-items span.product-image-container[style]{
    height: auto !important;
}

/*remove overlapping caption on mobile view*/
. category-description .caption .permanent {
    display: none !important;
}

/*fix the nav menu from dissapearing on long list of lecturers*/
ul.nav-submenu {
    max-height: 80vh;
    overflow: scroll;
}