<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="donate">
        <route id="donate" frontName="odbm">
            <module name="Donation_Path" />
        </route>
    </router>
</config>