<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="add_quote_additional_options" type="ODBM\Donation\Plugin\ToOrderItem" sortOrder="1" />
    </type>
    <type name="Magento\Paypal\Helper\Shortcut\Validator">
        <plugin name="allow_paypal_express_donation" type="ODBM\Donation\Plugin\Validator" sortOrder="1" disabled="false" />
    </type>

	<preference
		for="Magento\Paypal\Model\Api\Nvp"
		type="ODBM\Donation\Paypal\Model\Api\OdbNvp"
	/>
    <preference
			for="ODBM\Donation\Api\OdbDonationInterface"
			type="ODBM\Donation\Model\OdbDonation"
	/>
    <!-- Admin theme. Start -->
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Odbm/default</item> <!-- Example: "Magento/backend" -->
            </argument>
        </arguments>
    </type>
    <!-- Admin theme. End -->
</config>