<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">

	<event name="sales_quote_item_set_product">
		<observer
			name="product_point_quote"
			instance="ODBM\Donation\Observer\setQuoteMotivationCode"/>
		<observer
			name="product_recurring_quote"
			instance="ODBM\Donation\Observer\setQuoteRecurring"/>
	</event>

	<event name="controller_action_predispatch_checkout_cart_add">
		<observer name="restrict_sales_model_cart_add_before" instance="ODBM\Donation\Observer\ValidateCart" />
	</event>

	<event name="sales_order_place_after">
		<observer instance="ODBM\Donation\Observer\Sales\OrderPlaceAfter" name="odbm_donation_observer_sales_orderplaceafter"/>
	</event>
	
</config>