<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="customPrice_product" type="Meetanshi\CustomPrice\Plugin\Catalog\Model\Product" sortOrder="1"/>
    </type>
    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="customPrice" type="Meetanshi\CustomPrice\Plugin\Catalog\Pricing\Render\FinalPriceBox" sortOrder="1"/>
    </type>
    <type name="Magento\Catalog\Pricing\Price\TierPrice">
        <plugin name="customPrice1" type="Meetanshi\CustomPrice\Plugin\Catalog\Pricing\Price\TierPrice" sortOrder="2"/>
    </type>

    <type name="Magento\Sales\Controller\AbstractController\Reorder">
        <plugin name="customPriceReorder" type="Meetanshi\CustomPrice\Plugin\Sales\Order\Reorder" sortOrder="1"/>
    </type>
</config>