
.icon-triangle_down:before { content: '\e800'; } /* '' */
.icon-triangle_right:before { content: '\e801'; } /* '' */
.icon-triangle_up:before { content: '\e802'; } /* '' */
.icon-triangle_left:before { content: '\e803'; } /* '' */
.icon-chevron_down:before { content: '\e804'; } /* '' */
.icon-chevron_right:before { content: '\e805'; } /* '' */
.icon-chevron_up:before { content: '\e806'; } /* '' */
.icon-chevron_left:before { content: '\e807'; } /* '' */
.icon-avatar:before { content: '\e808'; } /* '' */
.icon-postal:before { content: '\e809'; } /* '' */
.icon-mobile:before { content: '\e80a'; } /* '' */
.icon-bookmark_empty:before { content: '\e80b'; } /* '' */
.icon-bookmark_filled:before { content: '\e80c'; } /* '' */
.icon-calendar:before { content: '\e80d'; } /* '' */
.icon-box_empty:before { content: '\e80e'; } /* '' */
.icon-box_filled:before { content: '\e80f'; } /* '' */
.icon-close:before { content: '\e810'; } /* '' */
.icon-comment:before { content: '\e811'; } /* '' */
.icon-contact:before { content: '\e812'; } /* '' */
.icon-email:before { content: '\e813'; } /* '' */
.icon-fax:before { content: '\e814'; } /* '' */
.icon-hamburger:before { content: '\e815'; } /* '' */
.icon-journal:before { content: '\e816'; } /* '' */
.icon-information:before { content: '\e817'; } /* '' */
.icon-partner:before { content: '\e818'; } /* '' */
.icon-password:before { content: '\e819'; } /* '' */
.icon-pause:before { content: '\e81a'; } /* '' */
.icon-play:before { content: '\e81b'; } /* '' */
.icon-phone:before { content: '\e81c'; } /* '' */
.icon-print:before { content: '\e81d'; } /* '' */
.icon-printer:before { content: '\e81e'; } /* '' */
.icon-question:before { content: '\e81f'; } /* '' */
.icon-scripture:before { content: '\e820'; } /* '' */
.icon-search:before { content: '\e821'; } /* '' */
.icon-support_empty:before { content: '\e822'; } /* '' */
.icon-support_filled:before { content: '\e823'; } /* '' */
.icon-text:before { content: '\e824'; } /* '' */
.icon-twitter:before { content: '\e825'; } /* '' */
.icon-instagram:before { content: '\e826'; } /* '' */
.icon-whatsapp:before { content: '\e827'; } /* '' */
.icon-facebook:before { content: '\e828'; } /* '' */
.icon-share:before { content: '\e829'; } /* '' */
.icon-add_itunes:before { content: '\e82a'; } /* '' */
.icon-download_mp3:before { content: '\e82b'; } /* '' */