<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
        <system>
            <section id="odbm_security" translate="label" sortOrder="750" showInDefault="1" showInWebsite="1" showInStore="1">
                <class>separator-top</class>
                <label>Security Settings</label>
                <tab>customer</tab>
                <resource>ODBM_Security::config</resource>
                <group id="registration" translate="label" type="text" sortOrder="750" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Registration</label>
                    <field id="enabled" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Restriction Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <group id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Email Restriction</label>
                        <field id="patterns" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Email List</label>
                            <frontend_model>ODBM\Security\Block\Adminhtml\System\Config\PatternMap</frontend_model>
                            <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        </field>
                        <field id="error_message" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Error Message</label>
                        </field>
                    </group>
                </group>
            </section>
        </system>
</config>