<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
  <h2 class="paymentdetails"><!-- ko i18n: 'Payment Details'--><!-- /ko --></h2>

  <!-- ko if: (isShowLegend())-->
  <legend class="legend">
    <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
  </legend><br />
  <!-- /ko -->

  <script src="https://injector.paperlesstrans.com/v1.1.min.js" type="text/javascript"></script>
  <script type="text/javascript">
      function onStateChanged(state) {
        for (let key in state) {
          var field = state[key];

          var requiredMsg = document.getElementById(`${key}_required`);
          var invalidMsg = document.getElementById(`${key}_invalid`);

          invalidMsg.style.display = "none";
          requiredMsg.style.display = "none";

          if (field.touched && !field.valid) {
            var msgToShow = field.empty ? requiredMsg : invalidMsg;
            msgToShow.style.display = "block";
          }
        }
      }

      function onCardInfo(info) {
        document.getElementById("brand").innerText = info.brand || "";
        document.getElementById("lastFour").innerText = info.lastFour || "";
        document.getElementById("expiration").innerText = info.expiration || "";
      }

      function onCardToken(token) {
        document.getElementById("paperless_token").value = token || "";
      }

        const options = {
          containerId: "card-form",
          stylesId: "card-styles",
          labels: {
            cardNumber: "Card #"
          },
          acceptedBrands: ["amex", "visa", "mastercard", "discover"]
        };

        var form = new ptc.PaymentForm();

        form.load(options);

        form.onStateChanged(onStateChanged);
        form.onCardInfo(onCardInfo);
        form.onCardToken(onCardToken);
  </script>

  <style id="card-styles">
      input.valid {
          border-left: solid 5px limegreen;
      }

      input.invalid {
          border-left: solid 5px red;
      }

      input.invalid.touched {
          background: pink;
      }

      #cvv {
          width: 50%;
      }

      #expiration {
          width: 50%;
      }

      #expiration_label::after {
          content: "  (MM/YYYY)";
          color: gray;
          font-size: 75%;
      }

      .amex::after,
      .visa::after,
      .mastercard::after,
      .discover::after {
          color: limegreen;
          font-size: 85%;
          font-weight: bold;
          position: absolute;
          right: 15px;
          top: 28px;
      }

      .amex::after {
          content: "AMEX  \2713";
      }

      .visa::after {
          content: "VISA  \2713";
      }

      .mastercard::after {
          content: "MASTERCARD  \2713";
      }

      .discover::after {
          content: "DISCOVER  \2713";
      }
  </style>

  <div id="card-form" style="width: 500px" data-bind="afterRender:afterFormRenders"></div>

  <ul class="errors">
      <li id="cardNumber_required">
          Card Number Required
      </li>
      <li id="cardNumber_invalid">
          Invalid Card Number
      </li>
      <li id="cvv_required">
          CVV Required
      </li>
      <li id="cvv_invalid">
          Invalid CVV
      </li>
      <li id="expiration_required">
          Expiration Date Required
      </li>
      <li id="expiration_invalid">
          Invalid Expiration Date
      </li>
  </ul>

  <ul class="summary">
      <li>
          Brand:
          <span id="brand"></span>
      </li>
      <li>
          Last 4:
          <span id="lastFour"></span>
      </li>
      <li>
          Expiration:
          <span id="expiration"></span>
      </li>
      <li>
          Token:
          <span id="token"></span>
      </li>
  </ul>
</fieldset>
