<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->           

<fieldset data-bind="fadeVisible: isVisible(), attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
  <h2 class="paymentdetails"><!-- ko i18n: 'Payment Details'--><!-- /ko --></h2>

  <!-- ko if: (isShowLegend())-->
  <legend class="legend">
    <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
  </legend><br />
  <!-- /ko -->
    

  <!-- ko if: isRecurring() -->
  <h3>Paperless</h3>
  <div class="field number required mypaperless">
        <div class="field type">
          <div class="control">
            <ul class="credit-card-types">
              <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
              <li class="item" data-bind="css: {
              _active: $parent.selectedCardType() == item.value,
              _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
            } ">
            <!--ko if: $parent.getIcons(item.value) -->
            <img data-bind="attr: {
            'src': $parent.getIcons(item.value).url,
            'alt': item.type,
            'width': $parent.getIcons(item.value).width,
            'height': $parent.getIcons(item.value).height
          }">
          <!--/ko-->
        </li>
        <!--/ko-->
      </ul>
      <input type="hidden"
      name="payment[cc_type]"
      class="input-text"
      value=""
      data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
      value: creditCardType
      ">
    </div>
    </div>
    
    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
      <span><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></span>
    </label>
    <div class="control">
      <input type="number" name="payment[cc_number]" class="input-text ccno" value=""
      data-bind="attr: {
      autocomplete: off,
      id: getCode() + '_cc_number',
      placeholder: $t('Card Number'),
      title: $t('Credit Card Number'),
      'data-container': getCode() + '-cc-number',
      'data-validate': JSON.stringify({'required-number':true, 'validate-card-type':getCcAvailableTypesValues(), 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
      enable: isActive($parents),
      value: creditCardNumber,
      valueUpdate: 'keyup' "
      />
    </div>
    </div>
    <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
      <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
        <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
      </label>
      <div class="control">
        <div class="fields group group-2">
          <div class="field no-label month">
            <div class="control">
              <select  name="payment[cc_exp_month]"
              class="select select-month"
              data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
              enable: isActive($parents),
              options: getCcMonthsValues(),
              optionsValue: 'value',
              optionsText: 'month',
              optionsCaption: $t('Month'),
              value: creditCardExpMonth">
            </select>
          </div>
        </div>
        <div class="field no-label year">
          <div class="control">
            <select name="payment[cc_exp_year]"
            class="select select-year"
            data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
            enable: isActive($parents),
            options: getCcYearsValues(),
            optionsValue: 'value',
            optionsText: 'year',
            optionsCaption: $t('Year'),
            value: creditCardExpYear">
          </select>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- ko if: (hasVerification())-->
    <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
      <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
        <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
      </label>
      <div class="control _with-tooltip">
        <input type="number"
          autocomplete="off"
          class="input-text cvv"
          name="payment[cc_cid]"
          value=""
          data-bind="attr: {id: getCode() + '_cc_cid',
          placeholder: $t('CVV'),
          title: $t('Card Verification Number'),
          'data-container': getCode() + '-cc-cvv',
          'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
          enable: isActive($parents),
          value: creditCardVerificationNumber" 
          min="0"
          max="9999"
        />
        <div class="field-tooltip toggle">
          <span class="field-tooltip-action action-cvv"
            tabindex="0"
            data-toggle="dropdown"
            data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
            <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
          </span>
          <div
            class="field-tooltip-content"
            data-target="dropdown"
            data-bind="html: getCvvImageHtml()">
          </div>
        </div>
      </div>
    </div>
    <!-- /ko -->

  <!-- /ko -->

  <!-- ko ifnot: isRecurring() -->

  <div id="activate_stripe">
    <style>
      /*only render these when Stripe is loaded*/
      div.mypaperless {display: none !important;}
      div.cryozonic-stripe.force {display: block;}
      div.payment-method-title.choice {display:none;}
      div.payment-method.cryozonic-stripe div.payment-method-content {display:block;}
      div#submitDonationButton {display: none;}
      div.paperless-pay-button {display: none;}
      /*clean up the excessive gaps*/
      div.checkout-payment-method div.payment-method-content div.fieldset.ccard {margin-bottom: 0px;}
      .checkout-payment-method .actions-toolbar div.primary {padding-top: 20px;}
      #odbm_paperless-form h2.paymentdetails {margin-bottom:0;}
      div.payment-method._active .checkout-payment-method .payment-method-content {padding-bottom:0;}
    </style>
  </div>

  <!-- /ko -->

</fieldset>
