<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->           

<fieldset data-bind="fadeVisible: isVisible(), attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
  <h2 class="paymentdetails"><!-- ko i18n: 'Payment Details'--><!-- /ko --></h2>

  <!-- ko if: (isShowLegend())-->
  <legend class="legend">
    <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
  </legend><br />
  <!-- /ko -->

  <div id="activate_stripe">
    <style>
      /*only render these when Stripe is loaded*/
      div.mypaperless {display: none !important;}
      div.stripe-payments.force {display: block;}
      div.payment-method-title.choice {display:none;}
      div.payment-method.stripe-payments div.payment-method-content {display:block;}
      div#submitDonationButton {display: none;}
      div.paperless-pay-button {display: none;}
      /*clean up the excessive gaps*/
      div.checkout-payment-method div.payment-method-content div.fieldset.ccard {margin-bottom: 0px;}
      .checkout-payment-method .actions-toolbar div.primary {padding-top: 20px;}
      #odbm_paperless-form h2.paymentdetails {margin-bottom:0;}
      div.payment-method._active .checkout-payment-method .payment-method-content {padding-bottom:0;}
    </style>
  </div>

</fieldset>
