& when (@media-common = true) {
    .checkout-tooltip-left {
        .lib-tooltip(left);
        position: absolute !important;
    }
    
    .checkout-tooltip-left.field-tooltip .tooltip-content:after {
        border-left-color: #f4f4f4; 
    }

    .checkout-tooltip-left .tooltip-content {
        background:#f4f4f4;
        border: 1px solid #999999;
    }
}